In [1]:
import pandas as pd

## geocoding the stats per center data

In [21]:
df = pd.read_csv("https://raw.githubusercontent.com/scanninglabor/IAScanningLabor/main/per_center_stats.csv")

df

,Unnamed: 0,name,alt_names,total_scans,start_date,end_date,months,average_scans_per_month,total_books,total_pages,median_turnover,days,total_workers,total_days_worked,productivity_per_worker
0,0,University of Alberta,['alberta'],1,2010-04-30 0:00:00,0000-00-00,1,1,121340,1.926080e+07,539.0,5463.0,32,33455,575.722732
1,1,American Museum of Natural History,['tt_amnh'],9,2016-07-31 0:00:00,2017-02-28 0:00:00,6,1,29,1.345600e+04,433.0,433.0,1,433,31.076212
2,2,Yiddish Book Center,['amherst'],5,2012-01-31 0:00:00,0000-00-00,5,1,1242,2.188780e+05,468.0,679.0,17,6306,34.709483
3,3,Centre for Strategic and International Studies...,['tt_jakarta'],1,2014-10-31 0:00:00,0000-00-00,1,1,492,5.214300e+04,418.0,418.0,1,418,124.744019
4,4,Zhejiang University,['hangzhou'],1,2011-07-31 0:00:00,0000-00-00,1,1,1,1.000000e+01,1281.0,0.0,1,1281,0.007806
5,5,Clemson University,['clemson'],2,2012-04-30 0:00:00,2014-05-31 0:00:00,2,1,10410,2.001152e+06,553.0,920.0,8,6375,313.906196
6,6,John Hopkins University Library Offsite Storage,['clarksville'],2,2021-03-31 0:00:00,0000-00-00,2,1,4963,9.954280e+05,4153.5,927.0,5,16219,61.374191
7,7,University of Victoria,['tt_victoria'],1,2017-01-31 0:00:00,0000-00-00,1,1,6843,5.827520e+05,956.5,2779.0,7,5360,108.722388
8,8,Hopewell Junction,['poughkeepsie'],1,2014-07-31 0:00:00,0000-00-00,1,1,24,5.178000e+03,393.0,393.0,1,393,13.175573
9,9,Research Institute of Korean Studies,['tt_riks'],1,2016-05-31 0:00:00,0000-00-00,1,1,7,5.720000e+02,69.0,855.0,3,69,8.289855
10,10,Universidad Francisco Marroqu√≠n,['guatemala'],30,2009-01-31 0:00:00,2021-07-31 0:00:00,13,2,4151,4.599250e+05,445.0,5291.0,31,18422,24.966073
11,11,State Library of Pennsylvania,['harrisburg'],4,2014-06-30 0:00:00,2019-08-31 0:00:00,2,2,21938,3.107122e+06,1501.0,3435.0,11,9717,319.761449
12,12,Stanford University,['tt_stanfordlaw'],9,2022-03-31 0:00:00,0000-00-00,4,2,39,1.786600e+04,290.5,1189.0,7,1593,11.215317
13,13,Peabody Essex Museum,['tt_pem'],4,2019-02-28 0:00:00,0000-00-00,2,2,7,1.560000e+02,292.0,292.0,2,292,0.534247
14,14,California Acaddemy of Sciences,['tt_calacademy'],2,2018-06-30 0:00:00,0000-00-00,1,2,1049,1.188800e+04,377.0,958.0,3,377,31.533156
15,15,Analysis and Policy Observatory (APO),['tt_swinburne'],16,2017-05-31 0:00:00,0000-00-00,5,3,41,2.342000e+03,207.0,207.0,1,207,11.314010
16,16,University of Warwick,['tt_warwick'],3,2018-03-31 0:00:00,0000-00-00,1,3,715,3.835500e+04,51.0,2569.0,4,1070,35.845794
17,17,Ernst Mayr Library of the Museum of Comparativ...,['tt_harvardernstmayr'],118,2015-10-31 0:00:00,2021-12-31 0:00:00,26,4,942,9.654300e+04,769.0,2812.0,4,2686,35.943038
18,18,"BYU, Hawaii",['honolulu'],135,2011-07-31 0:00:00,2013-12-31 0:00:00,27,5,884,3.397460e+05,311.0,1126.0,8,3637,93.413803
19,19,California State Library,['sacramento'],60,2011-10-31 0:00:00,2014-12-31 0:00:00,11,5,1893,1.084391e+06,645.5,1351.0,4,3234,335.309524
20,20,University of Chinese Academy of Sciences,['beijing'],57,2010-09-30 0:00:00,2011-07-31 0:00:00,11,5,1277,3.719600e+05,204.0,1213.0,5,1598,232.765957
21,21,University of Pretoria,['pretoria'],254,2014-09-30 0:00:00,2017-12-31 0:00:00,31,8,2435,4.425910e+05,279.0,1788.0,11,5167,85.657248
22,22,The Ohio State University,['tt_osu'],429,2016-09-30 0:00:00,2021-12-31 0:00:00,44,9,924,1.146790e+05,1090.0,2373.0,5,3437,33.366017
23,23,"BYU, Idaho Family History Library",['rexburg'],303,2011-06-30 0:00:00,2015-12-31 0:00:00,26,11,1655,7.724670e+05,173.0,1849.0,12,9209,83.881746
24,25,"Natural History Museum Library, London","['lond ', ' london']",2337,2002-01-31 0:00:00,2020-12-31 0:00:00,129,18,10759,4.563103e+06,601.0,7625.0,16,12568,363.073122
25,26,Smithsonian Libraries and Archives,['washingtondc'],3089,2007-08-31 0:00:00,2019-12-31 0:00:00,150,20,16664,5.870625e+06,994.0,5763.0,26,32675,179.667177
26,27,Georgetown University,['tt_georgetown'],1189,2015-09-30 0:00:00,2019-12-31 0:00:00,57,20,218,6.831800e+04,83.0,2675.0,18,5670,12.049030
27,28,The Archive of Contemporary Music,['manhattan'],1542,2011-07-31 0:00:00,2016-12-31 0:00:00,73,21,3020,8.412250e+05,77.0,2176.0,68,11106,75.745093
28,29,Servants of Knowledge,"['tt_bangalore ', ' tt_sok']",66,2019-03-31 0:00:00,0000-00-00,3,22,15642,2.878783e+06,550.5,1563.0,8,3174,906.988973
29,30,University of Florida,['gainesville'],624,2015-06-30 0:00:00,2018-12-31 0:00:00,27,23,8289,1.482060e+06,222.0,1515.0,13,4221,351.115849
30,31,Getty Research Institute,['tt_getty'],82,2016-08-31 0:00:00,2019-02-28 0:00:00,3,27,195,6.055700e+04,294.0,1321.0,2,588,102.988095
31,32,National Library of Scotland,['edinburgh'],2126,2008-08-31 0:00:00,2013-12-31 0:00:00,59,36,4929,2.092221e+06,371.0,2018.0,7,2327,899.106575
32,33,North Carolina State University,['raleigh'],968,2008-02-29 0:00:00,2009-12-31 0:00:00,26,37,3198,1.380711e+06,383.0,791.0,8,2824,488.920326
33,34,San Francisco Public Library,['sfciviccenter'],1908,2011-10-31 0:00:00,2016-12-31 0:00:00,46,41,11286,3.284598e+06,122.0,2100.0,25,9936,330.575483
34,35,Duke University,"['durham ', ' durham2 ', ' Durham']",7003,2009-01-31 0:00:00,2021-12-31 0:00:00,147,47,21850,5.945555e+06,411.0,5322.0,10,11870,500.889217
35,36,Brown University,"['providence ', ' tt_providence']",7216,2010-03-31 0:00:00,2020-12-31 0:00:00,144,50,19711,3.958092e+06,1892.0,4832.0,8,13108,301.960024
36,37,"BYU, Provo",['provo'],9614,2009-06-30 0:00:00,2021-12-31 0:00:00,153,62,39265,7.030139e+06,2300.0,5109.0,57,129214,54.406945
37,38,American Numismatic Society,['tt_numismatic'],3800,2015-12-31 0:00:00,2018-12-31 0:00:00,55,69,15554,7.624170e+05,791.0,2728.0,4,3528,216.104592
38,39,"University of Maryland, College Park",['maryland'],1086,2007-11-30 0:00:00,2008-12-31 0:00:00,15,72,2452,2.722630e+05,828.0,437.0,3,1656,164.410024
39,40,Getty Research Institute Valencia Warehouse,['valencia'],6925,2013-07-31 0:00:00,2021-12-31 0:00:00,91,76,24347,8.251324e+06,595.0,3604.0,16,13247,622.882464
40,41,UNC Chapel Hill,['chapelhill'],17035,2007-12-31 0:00:00,2021-12-31 0:00:00,137,124,59079,9.237499e+06,561.5,5653.0,26,26746,345.378711
41,42,UIUC,"['ill ', ' il']",31803,2001-12-31 0:00:00,2021-12-31 0:00:00,185,171,104372,2.803888e+07,363.0,7840.0,75,34333,816.674424
42,43,Princeton University,"['nj ', ' tt_pts']",36765,2008-04-30 0:00:00,2021-12-31 0:00:00,165,222,192458,3.436628e+07,257.0,7823.0,125,88794,387.033764
43,44,Allen County Public Library Geneaology Center,['indiana'],46860,2002-01-31 0:00:00,2021-12-31 0:00:00,171,274,214706,4.229911e+07,273.5,7817.0,161,102550,412.473038
44,45,Boston Public Library,"['boston ', ' Boston ', ' tt_bostonuniversity']",52844,2007-01-31 0:00:00,2021-12-31 0:00:00,184,287,256899,5.838293e+07,429.0,5999.0,146,110754,527.140618
45,46,UCLA,"['la ', ' iala ', ' santamonica']",76172,2006-07-31 0:00:00,2021-12-31 0:00:00,175,435,157748,5.255925e+07,187.0,6155.0,116,51630,1017.998276
46,47,Columbia University,['nyc'],22432,2002-01-31 0:00:00,2010-12-31 0:00:00,51,439,62910,2.113940e+07,178.0,3625.0,79,47501,445.030673
47,48,Library of Congress,"['capitolhill ', ' Capitolhill']",84276,2002-01-31 0:00:00,2019-12-31 0:00:00,147,573,212004,4.944484e+07,182.0,6638.0,154,88327,559.793076
48,49,National Agricultural Library,['beltsville'],69282,2012-12-31 0:00:00,2021-12-31 0:00:00,108,641,217119,1.135311e+07,1474.0,3826.0,21,32214,352.427888
49,50,Internet Archive Headquarters,"['sfdowntown ', ' sanfrancisco ', ' tt_sanfran...",97073,2009-07-31 0:00:00,2021-12-31 0:00:00,149,651,67444,2.068524e+07,213.0,2898.0,105,30392,680.614471
50,51,University of Toronto,"['uoft ', ' UofT']",167658,2006-05-31 0:00:00,2021-12-31 0:00:00,184,911,465884,1.560051e+08,221.0,7815.0,284,168976,923.238010
51,52,British Library,['euston'],79765,2014-01-31 0:00:00,2019-12-31 0:00:00,87,916,230566,3.815300e+07,428.0,3458.0,50,39968,954.588621
52,53,Internt Archive Physical Archive,"['rich ', ' richmond ', ' richflorida']",60252,2006-03-31 0:00:00,2014-12-31 0:00:00,63,956,116251,3.323260e+07,141.0,4201.0,248,63209,525.757376
53,54,Datum Data Co. Ltd.,['shenzhen'],282215,2009-07-31 0:00:00,2021-12-31 0:00:00,121,2332,402330,1.161897e+08,244.0,3746.0,142,53887,2156.173734
54,55,Hong Kong,"['hongkong ', ' Hong Kong']",176321,2009-09-30 0:00:00,2018-12-31 0:00:00,55,3205,293749,7.992080e+07,64.0,3452.0,564,81829,976.680590
55,56,"Innodata Knowledge Services, Inc.",['cebu'],1059208,2018-09-30 0:00:00,2021-12-31 0:00:00,50,21184,5440127,1.115856e+09,701.0,1715.0,402,269254,4144.250058
56,57,China,['china'],0,2023-12-00,0000-00-00,0,#DIV/0!,80606,2.343586e+07,1000.0,1553.0,17,13106,1788.177781
57,58,Internet Archive Sheridan Headquarters,"['sheridan ', ' arch ', ' miss']",0,2023-12-00,0000-00-00,0,#DIV/0!,2714,8.719320e+05,418.0,6302.0,65,47604,18.316360

In [24]:
stats_df = df.loc[:, df.columns.drop(['Unnamed: 0', 'total_scans', 'start_date', 'end_date', 'months', 'average_scans_per_month'])]

In [25]:
stats_df

,name,alt_names,total_books,total_pages,median_turnover,days,total_workers,total_days_worked,productivity_per_worker
0,University of Alberta,['alberta'],121340,1.926080e+07,539.0,5463.0,32,33455,575.722732
1,American Museum of Natural History,['tt_amnh'],29,1.345600e+04,433.0,433.0,1,433,31.076212
2,Yiddish Book Center,['amherst'],1242,2.188780e+05,468.0,679.0,17,6306,34.709483
3,Centre for Strategic and International Studies...,['tt_jakarta'],492,5.214300e+04,418.0,418.0,1,418,124.744019
4,Zhejiang University,['hangzhou'],1,1.000000e+01,1281.0,0.0,1,1281,0.007806
5,Clemson University,['clemson'],10410,2.001152e+06,553.0,920.0,8,6375,313.906196
6,John Hopkins University Library Offsite Storage,['clarksville'],4963,9.954280e+05,4153.5,927.0,5,16219,61.374191
7,University of Victoria,['tt_victoria'],6843,5.827520e+05,956.5,2779.0,7,5360,108.722388
8,Hopewell Junction,['poughkeepsie'],24,5.178000e+03,393.0,393.0,1,393,13.175573
9,Research Institute of Korean Studies,['tt_riks'],7,5.720000e+02,69.0,855.0,3,69,8.289855
10,Universidad Francisco Marroqu√≠n,['guatemala'],4151,4.599250e+05,445.0,5291.0,31,18422,24.966073
11,State Library of Pennsylvania,['harrisburg'],21938,3.107122e+06,1501.0,3435.0,11,9717,319.761449
12,Stanford University,['tt_stanfordlaw'],39,1.786600e+04,290.5,1189.0,7,1593,11.215317
13,Peabody Essex Museum,['tt_pem'],7,1.560000e+02,292.0,292.0,2,292,0.534247
14,California Acaddemy of Sciences,['tt_calacademy'],1049,1.188800e+04,377.0,958.0,3,377,31.533156
15,Analysis and Policy Observatory (APO),['tt_swinburne'],41,2.342000e+03,207.0,207.0,1,207,11.314010
16,University of Warwick,['tt_warwick'],715,3.835500e+04,51.0,2569.0,4,1070,35.845794
17,Ernst Mayr Library of the Museum of Comparativ...,['tt_harvardernstmayr'],942,9.654300e+04,769.0,2812.0,4,2686,35.943038
18,"BYU, Hawaii",['honolulu'],884,3.397460e+05,311.0,1126.0,8,3637,93.413803
19,California State Library,['sacramento'],1893,1.084391e+06,645.5,1351.0,4,3234,335.309524
20,University of Chinese Academy of Sciences,['beijing'],1277,3.719600e+05,204.0,1213.0,5,1598,232.765957
21,University of Pretoria,['pretoria'],2435,4.425910e+05,279.0,1788.0,11,5167,85.657248
22,The Ohio State University,['tt_osu'],924,1.146790e+05,1090.0,2373.0,5,3437,33.366017
23,"BYU, Idaho Family History Library",['rexburg'],1655,7.724670e+05,173.0,1849.0,12,9209,83.881746
24,"Natural History Museum Library, London","['lond ', ' london']",10759,4.563103e+06,601.0,7625.0,16,12568,363.073122
25,Smithsonian Libraries and Archives,['washingtondc'],16664,5.870625e+06,994.0,5763.0,26,32675,179.667177
26,Georgetown University,['tt_georgetown'],218,6.831800e+04,83.0,2675.0,18,5670,12.049030
27,The Archive of Contemporary Music,['manhattan'],3020,8.412250e+05,77.0,2176.0,68,11106,75.745093
28,Servants of Knowledge,"['tt_bangalore ', ' tt_sok']",15642,2.878783e+06,550.5,1563.0,8,3174,906.988973
29,University of Florida,['gainesville'],8289,1.482060e+06,222.0,1515.0,13,4221,351.115849
30,Getty Research Institute,['tt_getty'],195,6.055700e+04,294.0,1321.0,2,588,102.988095
31,National Library of Scotland,['edinburgh'],4929,2.092221e+06,371.0,2018.0,7,2327,899.106575
32,North Carolina State University,['raleigh'],3198,1.380711e+06,383.0,791.0,8,2824,488.920326
33,San Francisco Public Library,['sfciviccenter'],11286,3.284598e+06,122.0,2100.0,25,9936,330.575483
34,Duke University,"['durham ', ' durham2 ', ' Durham']",21850,5.945555e+06,411.0,5322.0,10,11870,500.889217
35,Brown University,"['providence ', ' tt_providence']",19711,3.958092e+06,1892.0,4832.0,8,13108,301.960024
36,"BYU, Provo",['provo'],39265,7.030139e+06,2300.0,5109.0,57,129214,54.406945
37,American Numismatic Society,['tt_numismatic'],15554,7.624170e+05,791.0,2728.0,4,3528,216.104592
38,"University of Maryland, College Park",['maryland'],2452,2.722630e+05,828.0,437.0,3,1656,164.410024
39,Getty Research Institute Valencia Warehouse,['valencia'],24347,8.251324e+06,595.0,3604.0,16,13247,622.882464
40,UNC Chapel Hill,['chapelhill'],59079,9.237499e+06,561.5,5653.0,26,26746,345.378711
41,UIUC,"['ill ', ' il']",104372,2.803888e+07,363.0,7840.0,75,34333,816.674424
42,Princeton University,"['nj ', ' tt_pts']",192458,3.436628e+07,257.0,7823.0,125,88794,387.033764
43,Allen County Public Library Geneaology Center,['indiana'],214706,4.229911e+07,273.5,7817.0,161,102550,412.473038
44,Boston Public Library,"['boston ', ' Boston ', ' tt_bostonuniversity']",256899,5.838293e+07,429.0,5999.0,146,110754,527.140618
45,UCLA,"['la ', ' iala ', ' santamonica']",157748,5.255925e+07,187.0,6155.0,116,51630,1017.998276
46,Columbia University,['nyc'],62910,2.113940e+07,178.0,3625.0,79,47501,445.030673
47,Library of Congress,"['capitolhill ', ' Capitolhill']",212004,4.944484e+07,182.0,6638.0,154,88327,559.793076
48,National Agricultural Library,['beltsville'],217119,1.135311e+07,1474.0,3826.0,21,32214,352.427888
49,Internet Archive Headquarters,"['sfdowntown ', ' sanfrancisco ', ' tt_sanfran...",67444,2.068524e+07,213.0,2898.0,105,30392,680.614471
50,University of Toronto,"['uoft ', ' UofT']",465884,1.560051e+08,221.0,7815.0,284,168976,923.238010
51,British Library,['euston'],230566,3.815300e+07,428.0,3458.0,50,39968,954.588621
52,Internt Archive Physical Archive,"['rich ', ' richmond ', ' richflorida']",116251,3.323260e+07,141.0,4201.0,248,63209,525.757376
53,Datum Data Co. Ltd.,['shenzhen'],402330,1.161897e+08,244.0,3746.0,142,53887,2156.173734
54,Hong Kong,"['hongkong ', ' Hong Kong']",293749,7.992080e+07,64.0,3452.0,564,81829,976.680590
55,"Innodata Knowledge Services, Inc.",['cebu'],5440127,1.115856e+09,701.0,1715.0,402,269254,4144.250058
56,China,['china'],80606,2.343586e+07,1000.0,1553.0,17,13106,1788.177781
57,Internet Archive Sheridan Headquarters,"['sheridan ', ' arch ', ' miss']",2714,8.719320e+05,418.0,6302.0,65,47604,18.316360

In [27]:
stats_df['lat'] = 0
stats_df['lon'] = 0
stats_df

,name,alt_names,total_books,total_pages,median_turnover,days,total_workers,total_days_worked,productivity_per_worker,lat,lon
0,University of Alberta,['alberta'],121340,1.926080e+07,539.0,5463.0,32,33455,575.722732,0,0
1,American Museum of Natural History,['tt_amnh'],29,1.345600e+04,433.0,433.0,1,433,31.076212,0,0
2,Yiddish Book Center,['amherst'],1242,2.188780e+05,468.0,679.0,17,6306,34.709483,0,0
3,Centre for Strategic and International Studies...,['tt_jakarta'],492,5.214300e+04,418.0,418.0,1,418,124.744019,0,0
4,Zhejiang University,['hangzhou'],1,1.000000e+01,1281.0,0.0,1,1281,0.007806,0,0
5,Clemson University,['clemson'],10410,2.001152e+06,553.0,920.0,8,6375,313.906196,0,0
6,John Hopkins University Library Offsite Storage,['clarksville'],4963,9.954280e+05,4153.5,927.0,5,16219,61.374191,0,0
7,University of Victoria,['tt_victoria'],6843,5.827520e+05,956.5,2779.0,7,5360,108.722388,0,0
8,Hopewell Junction,['poughkeepsie'],24,5.178000e+03,393.0,393.0,1,393,13.175573,0,0
9,Research Institute of Korean Studies,['tt_riks'],7,5.720000e+02,69.0,855.0,3,69,8.289855,0,0
10,Universidad Francisco Marroqu√≠n,['guatemala'],4151,4.599250e+05,445.0,5291.0,31,18422,24.966073,0,0
11,State Library of Pennsylvania,['harrisburg'],21938,3.107122e+06,1501.0,3435.0,11,9717,319.761449,0,0
12,Stanford University,['tt_stanfordlaw'],39,1.786600e+04,290.5,1189.0,7,1593,11.215317,0,0
13,Peabody Essex Museum,['tt_pem'],7,1.560000e+02,292.0,292.0,2,292,0.534247,0,0
14,California Acaddemy of Sciences,['tt_calacademy'],1049,1.188800e+04,377.0,958.0,3,377,31.533156,0,0
15,Analysis and Policy Observatory (APO),['tt_swinburne'],41,2.342000e+03,207.0,207.0,1,207,11.314010,0,0
16,University of Warwick,['tt_warwick'],715,3.835500e+04,51.0,2569.0,4,1070,35.845794,0,0
17,Ernst Mayr Library of the Museum of Comparativ...,['tt_harvardernstmayr'],942,9.654300e+04,769.0,2812.0,4,2686,35.943038,0,0
18,"BYU, Hawaii",['honolulu'],884,3.397460e+05,311.0,1126.0,8,3637,93.413803,0,0
19,California State Library,['sacramento'],1893,1.084391e+06,645.5,1351.0,4,3234,335.309524,0,0
20,University of Chinese Academy of Sciences,['beijing'],1277,3.719600e+05,204.0,1213.0,5,1598,232.765957,0,0
21,University of Pretoria,['pretoria'],2435,4.425910e+05,279.0,1788.0,11,5167,85.657248,0,0
22,The Ohio State University,['tt_osu'],924,1.146790e+05,1090.0,2373.0,5,3437,33.366017,0,0
23,"BYU, Idaho Family History Library",['rexburg'],1655,7.724670e+05,173.0,1849.0,12,9209,83.881746,0,0
24,"Natural History Museum Library, London","['lond ', ' london']",10759,4.563103e+06,601.0,7625.0,16,12568,363.073122,0,0
25,Smithsonian Libraries and Archives,['washingtondc'],16664,5.870625e+06,994.0,5763.0,26,32675,179.667177,0,0
26,Georgetown University,['tt_georgetown'],218,6.831800e+04,83.0,2675.0,18,5670,12.049030,0,0
27,The Archive of Contemporary Music,['manhattan'],3020,8.412250e+05,77.0,2176.0,68,11106,75.745093,0,0
28,Servants of Knowledge,"['tt_bangalore ', ' tt_sok']",15642,2.878783e+06,550.5,1563.0,8,3174,906.988973,0,0
29,University of Florida,['gainesville'],8289,1.482060e+06,222.0,1515.0,13,4221,351.115849,0,0
30,Getty Research Institute,['tt_getty'],195,6.055700e+04,294.0,1321.0,2,588,102.988095,0,0
31,National Library of Scotland,['edinburgh'],4929,2.092221e+06,371.0,2018.0,7,2327,899.106575,0,0
32,North Carolina State University,['raleigh'],3198,1.380711e+06,383.0,791.0,8,2824,488.920326,0,0
33,San Francisco Public Library,['sfciviccenter'],11286,3.284598e+06,122.0,2100.0,25,9936,330.575483,0,0
34,Duke University,"['durham ', ' durham2 ', ' Durham']",21850,5.945555e+06,411.0,5322.0,10,11870,500.889217,0,0
35,Brown University,"['providence ', ' tt_providence']",19711,3.958092e+06,1892.0,4832.0,8,13108,301.960024,0,0
36,"BYU, Provo",['provo'],39265,7.030139e+06,2300.0,5109.0,57,129214,54.406945,0,0
37,American Numismatic Society,['tt_numismatic'],15554,7.624170e+05,791.0,2728.0,4,3528,216.104592,0,0
38,"University of Maryland, College Park",['maryland'],2452,2.722630e+05,828.0,437.0,3,1656,164.410024,0,0
39,Getty Research Institute Valencia Warehouse,['valencia'],24347,8.251324e+06,595.0,3604.0,16,13247,622.882464,0,0
40,UNC Chapel Hill,['chapelhill'],59079,9.237499e+06,561.5,5653.0,26,26746,345.378711,0,0
41,UIUC,"['ill ', ' il']",104372,2.803888e+07,363.0,7840.0,75,34333,816.674424,0,0
42,Princeton University,"['nj ', ' tt_pts']",192458,3.436628e+07,257.0,7823.0,125,88794,387.033764,0,0
43,Allen County Public Library Geneaology Center,['indiana'],214706,4.229911e+07,273.5,7817.0,161,102550,412.473038,0,0
44,Boston Public Library,"['boston ', ' Boston ', ' tt_bostonuniversity']",256899,5.838293e+07,429.0,5999.0,146,110754,527.140618,0,0
45,UCLA,"['la ', ' iala ', ' santamonica']",157748,5.255925e+07,187.0,6155.0,116,51630,1017.998276,0,0
46,Columbia University,['nyc'],62910,2.113940e+07,178.0,3625.0,79,47501,445.030673,0,0
47,Library of Congress,"['capitolhill ', ' Capitolhill']",212004,4.944484e+07,182.0,6638.0,154,88327,559.793076,0,0
48,National Agricultural Library,['beltsville'],217119,1.135311e+07,1474.0,3826.0,21,32214,352.427888,0,0
49,Internet Archive Headquarters,"['sfdowntown ', ' sanfrancisco ', ' tt_sanfran...",67444,2.068524e+07,213.0,2898.0,105,30392,680.614471,0,0
50,University of Toronto,"['uoft ', ' UofT']",465884,1.560051e+08,221.0,7815.0,284,168976,923.238010,0,0
51,British Library,['euston'],230566,3.815300e+07,428.0,3458.0,50,39968,954.588621,0,0
52,Internt Archive Physical Archive,"['rich ', ' richmond ', ' richflorida']",116251,3.323260e+07,141.0,4201.0,248,63209,525.757376,0,0
53,Datum Data Co. Ltd.,['shenzhen'],402330,1.161897e+08,244.0,3746.0,142,53887,2156.173734,0,0
54,Hong Kong,"['hongkong ', ' Hong Kong']",293749,7.992080e+07,64.0,3452.0,564,81829,976.680590,0,0
55,"Innodata Knowledge Services, Inc.",['cebu'],5440127,1.115856e+09,701.0,1715.0,402,269254,4144.250058,0,0
56,China,['china'],80606,2.343586e+07,1000.0,1553.0,17,13106,1788.177781,0,0
57,Internet Archive Sheridan Headquarters,"['sheridan ', ' arch ', ' miss']",2714,8.719320e+05,418.0,6302.0,65,47604,18.316360,0,0

In [57]:
geocoder = pd.read_csv("/Users/elizabethschwartz/IAScanningLabor/code/locations_key.csv")

In [58]:
# geocoder :) 
def geocodes_centers(scan_center, the_geocoder):
    for i in range(len(the_geocoder)):
        if scan_center['name'] == the_geocoder.iloc[i]['name']:
            return {'lat': the_geocoder.iloc[i]['lat'], 
                    'lon': the_geocoder.iloc[i]['long']
                   }
        else:
            pass

def makes_geocoder(locations_file):
    locations = csv_to_dict(locations_file)
    print(locations)
    geocoder = []
    for location in locations:
        location['scan_center_ids'] = location['scan_center_ids'].split(' || ')
        try:
            location['lat'] = float(location['lat'].replace(',', ''))
            location['long'] = float(location['long'].replace(',', ''))
            geocoder.append(location)
        except ValueError:
            pass

    return geocoder

In [69]:
for i in range(len(stats_df)): 
    geocode = geocodes_centers(stats_df.iloc[i], geocoder)
    print(stats_df.iloc[i]['lat'])
    if geocode == None:
        pass
    else:
        stats_df.at[i, 'lon'] = geocode['lon']
        stats_df.at[i, 'lat'] = geocode['lat']
    print(stats_df.iloc[i])

53.52319337
name                       University of Alberta
alt_names                            ['alberta']
total_books                               121340
total_pages                           19260804.0
median_turnover                            539.0
days                                      5463.0
total_workers                                 32
total_days_worked                          33455
productivity_per_worker               575.722732
lat                                    53.523193
lon                                  -113.527198
Name: 0, dtype: object
40.78192527
name                       American Museum of Natural History
alt_names                                         ['tt_amnh']
total_books                                                29
total_pages                                           13456.0
median_turnover                                         433.0
days                                                    433.0
total_workers                                               1
total_days_worked                                         433
productivity_per_worker                             31.076212
lat                                                 40.781925
lon                                                -73.972465
Name: 1, dtype: object
42.32188825
name                       Yiddish Book Center
alt_names                          ['amherst']
total_books                               1242
total_pages                           218878.0
median_turnover                          468.0
days                                     679.0
total_workers                               17
total_days_worked                         6306
productivity_per_worker              34.709483
lat                                  42.321888
lon                                 -72.527668
Name: 2, dtype: object
-6.176488669
name                       Centre for Strategic and International Studies...
alt_names                                                     ['tt_jakarta']
total_books                                                              492
total_pages                                                          52143.0
median_turnover                                                        418.0
days                                                                   418.0
total_workers                                                              1
total_days_worked                                                        418
productivity_per_worker                                           124.744019
lat                                                                -6.176489
lon                                                               106.817456
Name: 3, dtype: object
30.30877701
name                       Zhejiang University
alt_names                         ['hangzhou']
total_books                                  1
total_pages                               10.0
median_turnover                         1281.0
days                                       0.0
total_workers                                1
total_days_worked                         1281
productivity_per_worker               0.007806
lat                                  30.308777
lon                                 120.086553
Name: 4, dtype: object
34.67345992
name                       Clemson University
alt_names                         ['clemson']
total_books                             10410
total_pages                         2001152.0
median_turnover                         553.0
days                                    920.0
total_workers                               8
total_days_worked                        6375
productivity_per_worker            313.906196
lat                                  34.67346
lon                                -82.836712
Name: 5, dtype: object
39.10000328
name                       John Hopkins University Library Offsite Storage
alt_names                                                  ['clarksville']
total_books                                                           4963
total_pages                                                       995428.0
median_turnover                                                     4153.5
days                                                                 927.0
total_workers                                                            5
total_days_worked                                                    16219
productivity_per_worker                                          61.374191
lat                                                              39.100003
lon                                                              -76.84986
Name: 6, dtype: object
48.46368117
name                       University of Victoria
alt_names                         ['tt_victoria']
total_books                                  6843
total_pages                              582752.0
median_turnover                             956.5
days                                       2779.0
total_workers                                   7
total_days_worked                            5360
productivity_per_worker                108.722388
lat                                     48.463681
lon                                   -123.309665
Name: 7, dtype: object
41.58494026
name                       Hopewell Junction
alt_names                   ['poughkeepsie']
total_books                               24
total_pages                           5178.0
median_turnover                        393.0
days                                   393.0
total_workers                              1
total_days_worked                        393
productivity_per_worker            13.175573
lat                                 41.58494
lon                               -73.801663
Name: 8, dtype: object
37.59104552
name                       Research Institute of Korean Studies
alt_names                                           ['tt_riks']
total_books                                                   7
total_pages                                               572.0
median_turnover                                            69.0
days                                                      855.0
total_workers                                                 3
total_days_worked                                            69
productivity_per_worker                                8.289855
lat                                                   37.591046
lon                                                  127.028131
Name: 9, dtype: object
14.60594769
name                       Universidad Francisco Marroqu√≠n
alt_names                                    ['guatemala']
total_books                                           4151
total_pages                                       459925.0
median_turnover                                      445.0
days                                                5291.0
total_workers                                           31
total_days_worked                                    18422
productivity_per_worker                          24.966073
lat                                              14.605948
lon                                              -90.50535
Name: 10, dtype: object
40.2650287
name                       State Library of Pennsylvania
alt_names                                 ['harrisburg']
total_books                                        21938
total_pages                                    3107122.0
median_turnover                                   1501.0
days                                              3435.0
total_workers                                         11
total_days_worked                                   9717
productivity_per_worker                       319.761449
lat                                            40.265029
lon                                           -76.880652
Name: 11, dtype: object
37.4239279
name                       Stanford University
alt_names                   ['tt_stanfordlaw']
total_books                                 39
total_pages                            17866.0
median_turnover                          290.5
days                                    1189.0
total_workers                                7
total_days_worked                         1593
productivity_per_worker              11.215317
lat                                  37.423928
lon                                -122.167473
Name: 12, dtype: object
42.71459464
name                       Peabody Essex Museum
alt_names                            ['tt_pem']
total_books                                   7
total_pages                               156.0
median_turnover                           292.0
days                                      292.0
total_workers                                 2
total_days_worked                           292
productivity_per_worker                0.534247
lat                                   42.714595
lon                                  -70.907004
Name: 13, dtype: object
37.77042434
name                       California Acaddemy of Sciences
alt_names                                ['tt_calacademy']
total_books                                           1049
total_pages                                        11888.0
median_turnover                                      377.0
days                                                 958.0
total_workers                                            3
total_days_worked                                      377
productivity_per_worker                          31.533156
lat                                              37.770424
lon                                            -122.466116
Name: 14, dtype: object
-37.82169275
name                       Analysis and Policy Observatory (APO)
alt_names                                       ['tt_swinburne']
total_books                                                   41
total_pages                                               2342.0
median_turnover                                            207.0
days                                                       207.0
total_workers                                                  1
total_days_worked                                            207
productivity_per_worker                                 11.31401
lat                                                   -37.821693
lon                                                   145.038997
Name: 15, dtype: object
52.38191585
name                       University of Warwick
alt_names                         ['tt_warwick']
total_books                                  715
total_pages                              38355.0
median_turnover                             51.0
days                                      2569.0
total_workers                                  4
total_days_worked                           1070
productivity_per_worker                35.845794
lat                                    52.381916
lon                                    -1.562005
Name: 16, dtype: object
42.37690652
name                       Ernst Mayr Library of the Museum of Comparativ...
alt_names                                            ['tt_harvardernstmayr']
total_books                                                              942
total_pages                                                          96543.0
median_turnover                                                        769.0
days                                                                  2812.0
total_workers                                                              4
total_days_worked                                                       2686
productivity_per_worker                                            35.943038
lat                                                                42.376907
lon                                                               -71.116654
Name: 17, dtype: object
21.64181757
name                        BYU, Hawaii
alt_names                  ['honolulu']
total_books                         884
total_pages                    339746.0
median_turnover                   311.0
days                             1126.0
total_workers                         8
total_days_worked                  3637
productivity_per_worker       93.413803
lat                           21.641818
lon                         -157.926582
Name: 18, dtype: object
38.57603262
name                       California State Library
alt_names                            ['sacramento']
total_books                                    1893
total_pages                               1084391.0
median_turnover                               645.5
days                                         1351.0
total_workers                                     4
total_days_worked                              3234
productivity_per_worker                  335.309524
lat                                       38.576033
lon                                     -121.496264
Name: 19, dtype: object
40.40857413
name                       University of Chinese Academy of Sciences
alt_names                                                ['beijing']
total_books                                                     1277
total_pages                                                 371960.0
median_turnover                                                204.0
days                                                          1213.0
total_workers                                                      5
total_days_worked                                               1598
productivity_per_worker                                   232.765957
lat                                                        40.408574
lon                                                       116.682501
Name: 20, dtype: object
-25.7548428
name                       University of Pretoria
alt_names                            ['pretoria']
total_books                                  2435
total_pages                              442591.0
median_turnover                             279.0
days                                       1788.0
total_workers                                  11
total_days_worked                            5167
productivity_per_worker                 85.657248
lat                                    -25.754843
lon                                     28.231428
Name: 21, dtype: object
40.00685718
name                       The Ohio State University
alt_names                                 ['tt_osu']
total_books                                      924
total_pages                                 114679.0
median_turnover                               1090.0
days                                          2373.0
total_workers                                      5
total_days_worked                               3437
productivity_per_worker                    33.366017
lat                                        40.006857
lon                                       -83.030219
Name: 22, dtype: object
43.81513782
name                       BYU, Idaho Family History Library
alt_names                                        ['rexburg']
total_books                                             1655
total_pages                                         772467.0
median_turnover                                        173.0
days                                                  1849.0
total_workers                                             12
total_days_worked                                       9209
productivity_per_worker                            83.881746
lat                                                43.815138
lon                                              -111.783577
Name: 23, dtype: object
51.49684189
name                       Natural History Museum Library, London
alt_names                                    ['lond ', ' london']
total_books                                                 10759
total_pages                                             4563103.0
median_turnover                                             601.0
days                                                       7625.0
total_workers                                                  16
total_days_worked                                           12568
productivity_per_worker                                363.073122
lat                                                     51.496842
lon                                                     -0.176271
Name: 24, dtype: object
38.89132735
name                       Smithsonian Libraries and Archives
alt_names                                    ['washingtondc']
total_books                                             16664
total_pages                                         5870625.0
median_turnover                                         994.0
days                                                   5763.0
total_workers                                              26
total_days_worked                                       32675
productivity_per_worker                            179.667177
lat                                                 38.891327
lon                                                -77.025864
Name: 25, dtype: object
38.90659981
name                       Georgetown University
alt_names                      ['tt_georgetown']
total_books                                  218
total_pages                              68318.0
median_turnover                             83.0
days                                      2675.0
total_workers                                 18
total_days_worked                           5670
productivity_per_worker                 12.04903
lat                                      38.9066
lon                                   -77.072239
Name: 26, dtype: object
40.71867548
name                       The Archive of Contemporary Music
alt_names                                      ['manhattan']
total_books                                             3020
total_pages                                         841225.0
median_turnover                                         77.0
days                                                  2176.0
total_workers                                             68
total_days_worked                                      11106
productivity_per_worker                            75.745093
lat                                                40.718675
lon                                               -74.003743
Name: 27, dtype: object
13.01508353
name                              Servants of Knowledge
alt_names                  ['tt_bangalore ', ' tt_sok']
total_books                                       15642
total_pages                                   2878783.0
median_turnover                                   550.5
days                                             1563.0
total_workers                                         8
total_days_worked                                  3174
productivity_per_worker                      906.988973
lat                                           13.015084
lon                                           77.581889
Name: 28, dtype: object
29.67605506
name                       University of Florida
alt_names                        ['gainesville']
total_books                                 8289
total_pages                            1482060.0
median_turnover                            222.0
days                                      1515.0
total_workers                                 13
total_days_worked                           4221
productivity_per_worker               351.115849
lat                                    29.676055
lon                                   -82.345848
Name: 29, dtype: object
34.07768084
name                       Getty Research Institute
alt_names                              ['tt_getty']
total_books                                     195
total_pages                                 60557.0
median_turnover                               294.0
days                                         1321.0

41.82598954
name                                        Brown University
alt_names                  ['providence ', ' tt_providence']
total_books                                            19711
total_pages                                        3958092.0
median_turnover                                       1892.0
days                                                  4832.0
total_workers                                              8
total_days_worked                                      13108
productivity_per_worker                           301.960024
lat                                                 41.82599
lon                                               -71.402462
Name: 35, dtype: object
40.24888001
name                       BYU, Provo
alt_names                   ['provo']
total_books                     39265
total_pages                 7030139.0
median_turnover                2300.0
days                           5109.0
total_workers                      57
total_days_worked              129214
productivity_per_worker     54.406945
lat                          40.24888
lon                       -111.648509
Name: 36, dtype: object
40.72401342
name                       American Numismatic Society
alt_names                            ['tt_numismatic']
total_books                                      15554
total_pages                                   762417.0
median_turnover                                  791.0
days                                            2728.0
total_workers                                        4
total_days_worked                                 3528
productivity_per_worker                     216.104592
lat                                          40.724013
lon                                         -74.006444
Name: 37, dtype: object
38.98690162
name                       University of Maryland, College Park
alt_names                                          ['maryland']
total_books                                                2452
total_pages                                            272263.0
median_turnover                                           828.0
days                                                      437.0
total_workers                                                 3
total_days_worked                                          1656
productivity_per_worker                              164.410024
lat                                                   38.986902
lon                                                   -76.94131
Name: 38, dtype: object
34.4198712
name                       Getty Research Institute Valencia Warehouse
alt_names                                                 ['valencia']
total_books                                                      24347
total_pages                                                  8251324.0
median_turnover                                                  595.0
days                                                            3604.0
total_workers                                                       16
total_days_worked                                                13247
productivity_per_worker                                     622.882464
lat                                                          34.419871
lon                                                        -118.562239
Name: 39, dtype: object
35.91177641
name                       UNC Chapel Hill
alt_names                   ['chapelhill']
total_books                          59079
total_pages                      9237499.0
median_turnover                      561.5
days                                5653.0
total_workers                           26
total_days_worked                    26746
productivity_per_worker         345.378711
lat                              35.911776
lon                             -79.047277
Name: 40, dtype: object
40.10440926
name                                  UIUC
alt_names                  ['ill ', ' il']
total_books                         104372
total_pages                     28038883.0
median_turnover                      363.0
days                                7840.0
total_workers                           75
total_days_worked                    34333
productivity_per_worker         816.674424
lat                              40.104409
lon                             -88.229336
Name: 41, dtype: object
40.34604013
name                       Princeton University
alt_names                    ['nj ', ' tt_pts']
total_books                              192458
total_pages                          34366276.0
median_turnover                           257.0
days                                     7823.0
total_workers                               125
total_days_worked                         88794
productivity_per_worker              387.033764
lat                                    40.34604
lon                                  -74.666856
Name: 42, dtype: object
41.07773159
name                       Allen County Public Library Geneaology Center
alt_names                                                    ['indiana']
total_books                                                       214706
total_pages                                                   42299110.0
median_turnover                                                    273.5
days                                                              7817.0
total_workers                                                        161
total_days_worked                                                 102550
productivity_per_worker                                       412.473038
lat                                                            41.077732
lon                                                           -85.142248
Name: 43, dtype: object
42.34936189
name                                                 Boston Public Library
alt_names                  ['boston ', ' Boston ', ' tt_bostonuniversity']
total_books                                                         256899
total_pages                                                     58382932.0
median_turnover                                                      429.0
days                                                                5999.0
total_workers                                                          146
total_days_worked                                                   110754
productivity_per_worker                                         527.140618
lat                                                              42.349362
lon                                                               -71.0782
Name: 44, dtype: object
34.071863589276
name                                                    UCLA
alt_names                  ['la ', ' iala ', ' santamonica']
total_books                                           157748
total_pages                                       52559251.0
median_turnover                                        187.0
days                                                  6155.0
total_workers                                            116
total_days_worked                                      51630
productivity_per_worker                          1017.998276
lat                                                34.071864
lon                                              -118.253842
Name: 45, dtype: object
40.80657713
name                       Columbia University
alt_names                              ['nyc']
total_books                              62910
total_pages                         21139402.0
median_turnover                          178.0
days                                    3625.0
total_workers                               79
total_days_worked                        47501
productivity_per_worker             445.030673
lat                                  40.806577
lon                                 -73.963206
Name: 46, dtype: object
38.8895692
name                                    Library of Congress
alt_names                  ['capitolhill ', ' Capitolhill']
total_books                                          212004
total_pages                                      49444843.0
median_turnover                                       182.0
days                                                 6638.0
total_workers                                           154
total_days_worked                                     88327
productivity_per_worker                          559.793076
lat                                               38.889569
lon                                              -77.004569
Name: 47, dtype: object
39.02352526
name                       National Agricultural Library
alt_names                                 ['beltsville']
total_books                                       217119
total_pages                                   11353112.0
median_turnover                                   1474.0
days                                              3826.0
total_workers                                         21
total_days_worked                                  32214
productivity_per_worker                       352.427888
lat                                            39.023525
lon                                           -76.921601
Name: 48, dtype: object
37.78244229
name                                           Internet Archive Headquarters
alt_names                  ['sfdowntown ', ' sanfrancisco ', ' tt_sanfran...
total_books                                                            67444
total_pages                                                       20685235.0
median_turnover                                                        213.0
days                                                                  2898.0
total_workers                                                            105
total_days_worked                                                      30392
productivity_per_worker                                           680.614471
lat                                                                37.782442
lon                                                               -122.47179
Name: 49, dtype: object
43.66312452
name                       University of Toronto
alt_names                     ['uoft ', ' UofT']
total_books                               465884
total_pages                          156005066.0
median_turnover                            221.0
days                                      7815.0
total_workers                                284
total_days_worked                         168976
productivity_per_worker                923.23801
lat                                    43.663125
lon                                   -79.395581
Name: 50, dtype: object
51.528702
name                       British Library
alt_names                       ['euston']
total_books                         230566
total_pages                     38152998.0
median_turnover                      428.0
days                                3458.0
total_workers                           50
total_days_worked                    39968
productivity_per_worker         954.588621
lat                              51.528702
lon                               -0.12761
Name: 51, dtype: object
37.92950359
name                              Internt Archive Physical Archive
alt_names                  ['rich ', ' richmond ', ' richflorida']
total_books                                                 116251
total_pages                                             33232598.0
median_turnover                                              141.0
days                                                        4201.0
total_workers                                                  248
total_days_worked                                            63209
productivity_per_worker                                 525.757376
lat                                                      37.929504
lon                                                    -122.345987
Name: 52, dtype: object
22.50635114
name                       Datum Data Co. Ltd.
alt_names                         ['shenzhen']
total_books                             402330
total_pages                        116189734.0
median_turnover                          244.0
days                                    3746.0
total_workers                              142
total_days_worked                        53887
productivity_per_worker            2156.173734
lat                                  22.506351
lon                                 114.050162
Name: 53, dtype: object
22.39964476
name                                         Hong Kong
alt_names                  ['hongkong ', ' Hong Kong']
total_books                                     293749
total_pages                                 79920796.0
median_turnover                                   64.0
days                                            3452.0
total_workers                                      564
total_days_worked                                81829
productivity_per_worker                      976.68059
lat                                          22.399645
lon                                         114.193167
Name: 54, dtype: object
10.31803327
name                       Innodata Knowledge Services, Inc.
alt_names                                           ['cebu']
total_books                                          5440127
total_pages                                     1115855905.0
median_turnover                                        701.0
days                                                  1715.0
total_workers                                            402
total_days_worked                                     269254
productivity_per_worker                          4144.250058
lat                                                10.318033
lon                                               123.920545
Name: 55, dtype: object
22.56812598
name                             China
alt_names                    ['china']
total_books                      80606
total_pages                 23435858.0
median_turnover                 1000.0
days                            1553.0
total_workers                       17
total_days_worked                13106
productivity_per_worker    1788.177781
lat                          22.568126
lon                         114.054168
Name: 56, dtype: object
0.0
name                       Internet Archive Sheridan Headquarters
alt_names                        ['sheridan ', ' arch ', ' miss']
total_books                                                  2714
total_pages                                              871932.0
median_turnover                                             418.0
days                                                       6302.0
total_workers                                                  65
total_days_worked                                           47604
productivity_per_worker                                  18.31636
lat                                                           0.0
lon                                                           0.0
Name: 57, dtype: object

In [70]:
stats_df

,name,alt_names,total_books,total_pages,median_turnover,days,total_workers,total_days_worked,productivity_per_worker,lat,lon
0,University of Alberta,['alberta'],121340,1.926080e+07,539.0,5463.0,32,33455,575.722732,53.523193,-113.527198
1,American Museum of Natural History,['tt_amnh'],29,1.345600e+04,433.0,433.0,1,433,31.076212,40.781925,-73.972465
2,Yiddish Book Center,['amherst'],1242,2.188780e+05,468.0,679.0,17,6306,34.709483,42.321888,-72.527668
3,Centre for Strategic and International Studies...,['tt_jakarta'],492,5.214300e+04,418.0,418.0,1,418,124.744019,-6.176489,106.817456
4,Zhejiang University,['hangzhou'],1,1.000000e+01,1281.0,0.0,1,1281,0.007806,30.308777,120.086553
5,Clemson University,['clemson'],10410,2.001152e+06,553.0,920.0,8,6375,313.906196,34.673460,-82.836712
6,John Hopkins University Library Offsite Storage,['clarksville'],4963,9.954280e+05,4153.5,927.0,5,16219,61.374191,39.100003,-76.849860
7,University of Victoria,['tt_victoria'],6843,5.827520e+05,956.5,2779.0,7,5360,108.722388,48.463681,-123.309665
8,Hopewell Junction,['poughkeepsie'],24,5.178000e+03,393.0,393.0,1,393,13.175573,41.584940,-73.801663
9,Research Institute of Korean Studies,['tt_riks'],7,5.720000e+02,69.0,855.0,3,69,8.289855,37.591046,127.028131
10,Universidad Francisco Marroqu√≠n,['guatemala'],4151,4.599250e+05,445.0,5291.0,31,18422,24.966073,14.605948,-90.505350
11,State Library of Pennsylvania,['harrisburg'],21938,3.107122e+06,1501.0,3435.0,11,9717,319.761449,40.265029,-76.880652
12,Stanford University,['tt_stanfordlaw'],39,1.786600e+04,290.5,1189.0,7,1593,11.215317,37.423928,-122.167473
13,Peabody Essex Museum,['tt_pem'],7,1.560000e+02,292.0,292.0,2,292,0.534247,42.714595,-70.907004
14,California Acaddemy of Sciences,['tt_calacademy'],1049,1.188800e+04,377.0,958.0,3,377,31.533156,37.770424,-122.466116
15,Analysis and Policy Observatory (APO),['tt_swinburne'],41,2.342000e+03,207.0,207.0,1,207,11.314010,-37.821693,145.038997
16,University of Warwick,['tt_warwick'],715,3.835500e+04,51.0,2569.0,4,1070,35.845794,52.381916,-1.562005
17,Ernst Mayr Library of the Museum of Comparativ...,['tt_harvardernstmayr'],942,9.654300e+04,769.0,2812.0,4,2686,35.943038,42.376907,-71.116654
18,"BYU, Hawaii",['honolulu'],884,3.397460e+05,311.0,1126.0,8,3637,93.413803,21.641818,-157.926582
19,California State Library,['sacramento'],1893,1.084391e+06,645.5,1351.0,4,3234,335.309524,38.576033,-121.496264
20,University of Chinese Academy of Sciences,['beijing'],1277,3.719600e+05,204.0,1213.0,5,1598,232.765957,40.408574,116.682501
21,University of Pretoria,['pretoria'],2435,4.425910e+05,279.0,1788.0,11,5167,85.657248,-25.754843,28.231428
22,The Ohio State University,['tt_osu'],924,1.146790e+05,1090.0,2373.0,5,3437,33.366017,40.006857,-83.030219
23,"BYU, Idaho Family History Library",['rexburg'],1655,7.724670e+05,173.0,1849.0,12,9209,83.881746,43.815138,-111.783577
24,"Natural History Museum Library, London","['lond ', ' london']",10759,4.563103e+06,601.0,7625.0,16,12568,363.073122,51.496842,-0.176271
25,Smithsonian Libraries and Archives,['washingtondc'],16664,5.870625e+06,994.0,5763.0,26,32675,179.667177,38.891327,-77.025864
26,Georgetown University,['tt_georgetown'],218,6.831800e+04,83.0,2675.0,18,5670,12.049030,38.906600,-77.072239
27,The Archive of Contemporary Music,['manhattan'],3020,8.412250e+05,77.0,2176.0,68,11106,75.745093,40.718675,-74.003743
28,Servants of Knowledge,"['tt_bangalore ', ' tt_sok']",15642,2.878783e+06,550.5,1563.0,8,3174,906.988973,13.015084,77.581889
29,University of Florida,['gainesville'],8289,1.482060e+06,222.0,1515.0,13,4221,351.115849,29.676055,-82.345848
30,Getty Research Institute,['tt_getty'],195,6.055700e+04,294.0,1321.0,2,588,102.988095,34.077681,-118.475292
31,National Library of Scotland,['edinburgh'],4929,2.092221e+06,371.0,2018.0,7,2327,899.106575,55.948704,-3.191972
32,North Carolina State University,['raleigh'],3198,1.380711e+06,383.0,791.0,8,2824,488.920326,35.787484,-78.669394
33,San Francisco Public Library,['sfciviccenter'],11286,3.284598e+06,122.0,2100.0,25,9936,330.575483,37.779142,-122.415791
34,Duke University,"['durham ', ' durham2 ', ' Durham']",21850,5.945555e+06,411.0,5322.0,10,11870,500.889217,36.003547,-78.938302
35,Brown University,"['providence ', ' tt_providence']",19711,3.958092e+06,1892.0,4832.0,8,13108,301.960024,41.825990,-71.402462
36,"BYU, Provo",['provo'],39265,7.030139e+06,2300.0,5109.0,57,129214,54.406945,40.248880,-111.648509
37,American Numismatic Society,['tt_numismatic'],15554,7.624170e+05,791.0,2728.0,4,3528,216.104592,40.724013,-74.006444
38,"University of Maryland, College Park",['maryland'],2452,2.722630e+05,828.0,437.0,3,1656,164.410024,38.986902,-76.941310
39,Getty Research Institute Valencia Warehouse,['valencia'],24347,8.251324e+06,595.0,3604.0,16,13247,622.882464,34.419871,-118.562239
40,UNC Chapel Hill,['chapelhill'],59079,9.237499e+06,561.5,5653.0,26,26746,345.378711,35.911776,-79.047277
41,UIUC,"['ill ', ' il']",104372,2.803888e+07,363.0,7840.0,75,34333,816.674424,40.104409,-88.229336
42,Princeton University,"['nj ', ' tt_pts']",192458,3.436628e+07,257.0,7823.0,125,88794,387.033764,40.346040,-74.666856
43,Allen County Public Library Geneaology Center,['indiana'],214706,4.229911e+07,273.5,7817.0,161,102550,412.473038,41.077732,-85.142248
44,Boston Public Library,"['boston ', ' Boston ', ' tt_bostonuniversity']",256899,5.838293e+07,429.0,5999.0,146,110754,527.140618,42.349362,-71.078200
45,UCLA,"['la ', ' iala ', ' santamonica']",157748,5.255925e+07,187.0,6155.0,116,51630,1017.998276,34.071864,-118.253842
46,Columbia University,['nyc'],62910,2.113940e+07,178.0,3625.0,79,47501,445.030673,40.806577,-73.963206
47,Library of Congress,"['capitolhill ', ' Capitolhill']",212004,4.944484e+07,182.0,6638.0,154,88327,559.793076,38.889569,-77.004569
48,National Agricultural Library,['beltsville'],217119,1.135311e+07,1474.0,3826.0,21,32214,352.427888,39.023525,-76.921601
49,Internet Archive Headquarters,"['sfdowntown ', ' sanfrancisco ', ' tt_sanfran...",67444,2.068524e+07,213.0,2898.0,105,30392,680.614471,37.782442,-122.471790
50,University of Toronto,"['uoft ', ' UofT']",465884,1.560051e+08,221.0,7815.0,284,168976,923.238010,43.663125,-79.395581
51,British Library,['euston'],230566,3.815300e+07,428.0,3458.0,50,39968,954.588621,51.528702,-0.127610
52,Internt Archive Physical Archive,"['rich ', ' richmond ', ' richflorida']",116251,3.323260e+07,141.0,4201.0,248,63209,525.757376,37.929504,-122.345987
53,Datum Data Co. Ltd.,['shenzhen'],402330,1.161897e+08,244.0,3746.0,142,53887,2156.173734,22.506351,114.050162
54,Hong Kong,"['hongkong ', ' Hong Kong']",293749,7.992080e+07,64.0,3452.0,564,81829,976.680590,22.399645,114.193167
55,"Innodata Knowledge Services, Inc.",['cebu'],5440127,1.115856e+09,701.0,1715.0,402,269254,4144.250058,10.318033,123.920545
56,China,['china'],80606,2.343586e+07,1000.0,1553.0,17,13106,1788.177781,22.568126,114.054168
57,Internet Archive Sheridan Headquarters,"['sheridan ', ' arch ', ' miss']",2714,8.719320e+05,418.0,6302.0,65,47604,18.316360,0.000000,0.000000

In [71]:
stats_df.to_csv("/Users/elizabethschwartz/IAScanningLabor/geocoded-per-center-stats.csv")

## making scans per center per month dataset
This code is coming directly from the ia_bols repository notebook: https://github.com/ers6/ia_bols/blob/main/scan-center-counts/in-depth-analysis.ipynb

it's duplicated here for documentation purposes, but don't run this unless you happen to have downloaded the texts dataset (it will crash)

In [72]:
ia_texts = pd.read_csv("/Volumes/Samsung_T5/scanning_labor_in_IA/texts-data.csv")

/var/folders/pl/rjmtml311bq31fb0njd03xlh0000gn/T/ipykernel_93615/1458770507.py:1: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  ia_texts = pd.read_csv("/Volumes/Samsung_T5/scanning_labor_in_IA/texts-data.csv")

In [73]:
len(ia_texts['identifier'].unique())
ia_texts.drop_duplicates()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,identifier,scandate,sponsor,scanner,donor,imagecount,operator,shipping_container,mediatype,scanningcenter
0,0,0,0,geometrysuccessi00thom,2013-10-10 09:00:15,Internet Archive,scribe7.shenzhen.archive.org,alibris,200.0,scanner-shenzhen-leo@archive.org,NaN,texts,shenzhen
1,1,1,1,berdiemobilittde00hebe,2012-09-08 03:15:20,Internet Archive,scribe18.shenzhen.archive.org,NaN,250.0,scanner-shenzhen-mary@archive.org,NaN,texts,shenzhen
2,2,2,2,beilsteinshandb28beil,2011-07-16 20:13:14,Internet Archive,scribe3.shenzhen.archive.org,alibris,962.0,scanner-shenzhen-lina@archive.org,NaN,texts,shenzhen
3,3,3,3,theoryapplicatio00adva,2012-08-14 07:06:26,Internet Archive,scribe15.shenzhen.archive.org,friendsofthesanfranciscopubliclibrary,590.0,scanner-shenzhen-dragon@archive.org,NaN,texts,shenzhen
4,4,4,4,specialeditionus00edbo_0,2012-09-21 13:04:20,Internet Archive,scribe27.shenzhen.archive.org,alibris,888.0,scanner-shenzhen-yan@archive.org,NaN,texts,shenzhen
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9029407,13225598,13225598,555,pratekaning-wong-mara-mandeg,2012-02-23 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029408,13225599,13225599,556,kramaning-caru-bang-bonggalan,2012-02-23 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029409,13225600,13225600,557,puja-parikrama-panigang-sasih,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029410,13225601,13225601,558,puja-pancasanak-buda,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029411,13225602,13225602,559,arga-patra,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali

In [74]:
ia_texts = ia_texts.drop(columns=['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'])

ia_texts

,identifier,scandate,sponsor,scanner,donor,imagecount,operator,shipping_container,mediatype,scanningcenter
0,geometrysuccessi00thom,2013-10-10 09:00:15,Internet Archive,scribe7.shenzhen.archive.org,alibris,200.0,scanner-shenzhen-leo@archive.org,NaN,texts,shenzhen
1,berdiemobilittde00hebe,2012-09-08 03:15:20,Internet Archive,scribe18.shenzhen.archive.org,NaN,250.0,scanner-shenzhen-mary@archive.org,NaN,texts,shenzhen
2,beilsteinshandb28beil,2011-07-16 20:13:14,Internet Archive,scribe3.shenzhen.archive.org,alibris,962.0,scanner-shenzhen-lina@archive.org,NaN,texts,shenzhen
3,theoryapplicatio00adva,2012-08-14 07:06:26,Internet Archive,scribe15.shenzhen.archive.org,friendsofthesanfranciscopubliclibrary,590.0,scanner-shenzhen-dragon@archive.org,NaN,texts,shenzhen
4,specialeditionus00edbo_0,2012-09-21 13:04:20,Internet Archive,scribe27.shenzhen.archive.org,alibris,888.0,scanner-shenzhen-yan@archive.org,NaN,texts,shenzhen
...,...,...,...,...,...,...,...,...,...,...
9029407,pratekaning-wong-mara-mandeg,2012-02-23 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029408,kramaning-caru-bang-bonggalan,2012-02-23 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029409,puja-parikrama-panigang-sasih,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029410,puja-pancasanak-buda,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali
9029411,arga-patra,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali

In [76]:

ia_texts['month_year'] = pd.to_datetime(ia_texts['scandate']).dt.to_period('M')

In [77]:
ia_texts

,identifier,scandate,sponsor,scanner,donor,imagecount,operator,shipping_container,mediatype,scanningcenter,month_year
0,geometrysuccessi00thom,2013-10-10 09:00:15,Internet Archive,scribe7.shenzhen.archive.org,alibris,200.0,scanner-shenzhen-leo@archive.org,NaN,texts,shenzhen,2013-10
1,berdiemobilittde00hebe,2012-09-08 03:15:20,Internet Archive,scribe18.shenzhen.archive.org,NaN,250.0,scanner-shenzhen-mary@archive.org,NaN,texts,shenzhen,2012-09
2,beilsteinshandb28beil,2011-07-16 20:13:14,Internet Archive,scribe3.shenzhen.archive.org,alibris,962.0,scanner-shenzhen-lina@archive.org,NaN,texts,shenzhen,2011-07
3,theoryapplicatio00adva,2012-08-14 07:06:26,Internet Archive,scribe15.shenzhen.archive.org,friendsofthesanfranciscopubliclibrary,590.0,scanner-shenzhen-dragon@archive.org,NaN,texts,shenzhen,2012-08
4,specialeditionus00edbo_0,2012-09-21 13:04:20,Internet Archive,scribe27.shenzhen.archive.org,alibris,888.0,scanner-shenzhen-yan@archive.org,NaN,texts,shenzhen,2012-09
...,...,...,...,...,...,...,...,...,...,...,...
9029407,pratekaning-wong-mara-mandeg,2012-02-23 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali,2012-02
9029408,kramaning-caru-bang-bonggalan,2012-02-23 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali,2012-02
9029409,puja-parikrama-panigang-sasih,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali,2012-03
9029410,puja-pancasanak-buda,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali,2012-03
9029411,arga-patra,2012-03-12 20:39:27,Kahle/Austin Foundation,NaN,NaN,NaN,NaN,NaN,texts,bali,2012-03

In [78]:
ia_scans_per_month = ia_texts.groupby(['scanningcenter','month_year']).count().reset_index()

In [79]:
ia_scans_per_month

,scanningcenter,month_year,identifier,scandate,sponsor,scanner,donor,imagecount,operator,shipping_container,mediatype
0,Hong Kong,2011-05,1,1,1,1,1,1,1,0,1
1,Hong Kong,2011-09,1,1,1,1,1,1,1,0,1
2,Hong Kong,2012-03,1,1,1,1,1,1,1,0,1
3,Hong Kong,2012-05,1,1,1,1,1,1,1,0,1
4,Hong Kong,2013-11,1,1,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5054,washingtondc,2023-01,39,39,39,39,0,39,39,0,39
5055,washingtondc,2023-02,38,38,38,38,0,38,38,0,38
5056,washingtondc,2023-03,52,52,52,52,0,52,52,0,52
5057,washingtondc,2023-04,36,36,36,36,0,36,36,0,36
5058,washingtondc,2023-05,23,23,23,23,0,23,23,0,23

In [80]:
scans_per_center = ia_scans_per_month[['scanningcenter', 'month_year', 'identifier']]

In [81]:
scans_per_center = scans_per_center.rename(columns={"identifier": "scans_per_month"})

In [82]:
scans_per_center

     scanningcenter month_year  scans_per_month
0         Hong Kong    2011-05                1
1         Hong Kong    2011-09                1
2         Hong Kong    2012-03                1
3         Hong Kong    2012-05                1
4         Hong Kong    2013-11                1
...             ...        ...              ...
5054   washingtondc    2023-01               39
5055   washingtondc    2023-02               38
5056   washingtondc    2023-03               52
5057   washingtondc    2023-04               36
5058   washingtondc    2023-05               23

[5059 rows x 3 columns]